<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DiO_CS_GliphRecognizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <DiO_CS_GliphRecognizer.Properties.Settings>
            <setting name="BrokerHost" serializeAs="String">
                <value>iot.eclipse.com</value>
            </setting>
            <setting name="BrokerPort" serializeAs="String">
                <value>1883</value>
            </setting>
            <setting name="MqttInputTopic" serializeAs="String">
                <value>pt/str/i/vision/1</value>
            </setting>
            <setting name="MqttOutputTopic" serializeAs="String">
                <value>pt/str/o/vision/1</value>
            </setting>
            <setting name="LastDatabasePath" serializeAs="String">
                <value />
            </setting>
            <setting name="MqttImageTopic" serializeAs="String">
                <value>pt/img/o/vision/1</value>
            </setting>
            <setting name="ImageSize" serializeAs="String">
                <value>100, 100</value>
            </setting>
        </DiO_CS_GliphRecognizer.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
